backend/.flows.json.backup
[
    {
        "id": "a72f8a7b8bf0d24b",
        "type": "tab",
        "label": "HTTP request",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8254490f62f519fb",
        "type": "http in",
        "z": "a72f8a7b8bf0d24b",
        "name": "",
        "url": "/api/upload-spreadsheet",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "e80548c3f7b85f03"
            ]
        ]
    },
    {
        "id": "a0fe27c5e86f5d41",
        "type": "http response",
        "z": "a72f8a7b8bf0d24b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "69ab2b9ca42efc74",
        "type": "comment",
        "z": "a72f8a7b8bf0d24b",
        "name": "Receive uploaded .csv file",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c4ae10499f4cd29",
        "type": "file",
        "z": "a72f8a7b8bf0d24b",
        "name": "",
        "filename": "upload/uploaded_spreadsheet.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a902e4cfabe56195"
            ]
        ]
    },
    {
        "id": "e80548c3f7b85f03",
        "type": "function",
        "z": "a72f8a7b8bf0d24b",
        "name": "function",
        "func": "msg.payload = msg.req.files[0].buffer.toString()\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "9c4ae10499f4cd29"
            ]
        ]
    },
    {
        "id": "2c193fa7b6038d75",
        "type": "comment",
        "z": "a72f8a7b8bf0d24b",
        "name": "Run model",
        "info": "",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "a902e4cfabe56195",
        "type": "exec",
        "z": "a72f8a7b8bf0d24b",
        "command": "python ./../ai_model/predictor.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 100,
        "wires": [
            [
                "331e175952eeef1b"
            ],
            [],
            []
        ]
    },
    {
        "id": "331e175952eeef1b",
        "type": "function",
        "z": "a72f8a7b8bf0d24b",
        "name": "function",
        "func": "msg.payload = msg.payload.toString()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "a0fe27c5e86f5d41"
            ]
        ]
    },
    {
        "id": "ca677d03d89dbbde",
        "type": "comment",
        "z": "a72f8a7b8bf0d24b",
        "name": "Save .csv file on server",
        "info": "",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "153ee4a0d1defbb2",
        "type": "comment",
        "z": "a72f8a7b8bf0d24b",
        "name": "Send response",
        "info": "",
        "x": 1080,
        "y": 40,
        "wires": []
    }
]